
.Events {
    margin-top: auto;
    
}

.Events-h1 {
    display: flex;
    font-size: 32px;
    justify-content: center;
    color: rgba(245, 107, 154, 1);
    padding-top: 32px;
    height: auto;
}

.events-list{
    height: 100%;
    margin: 0;
    padding: 0;
}

.events-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 310px;
    height: 66px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
    text-decoration: none;
}

.section-left {
    display: flex;
    color:
        rgba(255, 255, 255, 1);
    height: 66px;
    width: 66px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

.date {
    height: 30px;
    font-size: 14px;
    width: 25px;
    text-wrap: wrap;
    text-align: center;
    text-decoration: none;
}

.section-mitten {
    color:rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    margin-left: 5.5rem;
}

.events-name {
    font-family: Fira Sans;
    font-size: 22px;
    margin: 0;
    text-shadow: 1px 1px 0 rgba(245, 107, 154, 1);
    height: 22px;
    text-align: left;
    text-decoration: none;
}

.events-where {
    font-family: Fira Sans;
    font-size: 12px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    height: 12px;
    margin-top: 5px;
}

.events-time {
    color: rgba(208, 208, 208, 1);
    font-family: Fira Sans;
    font-size: 14px;
    margin: 2px;
    height: 14px;
    margin-top: 7px;

}

.section-right {
    display: flex;
    color: rgba(55, 174, 171, 1);
    justify-content: end;
    align-items: end;
}

.price {
    height: 17px;
    font-family: Fira Sans;
    font-size: 17px;
    margin: 0;
    position: relative;
}

.container{
    border-bottom: 1px;
    color: rgba(35, 31, 66, 1);
}

a{
    text-decoration: none;
}