.navbar {
  display: flex;
  align-items: center;
  max-width: 500px; /* Säkerställ att den inte går över skärmbredden på mindre enheter */
  position: fixed;
  bottom: 0;
  left: 50%; /* Centrerar navbaren */
  transform: translateX(-50%); /* Flyttar navbaren tillbaka till mitten */
  background-color: #231F42;
  padding: 10px 30px;
  box-sizing: border-box;
  gap: 4rem;
}

.navbar a {
  color: rgba(245, 107, 154, 1);
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}