.count-wrapper {
    margin-top: 5rem;

    display: flex;
    justify-content: center;
}


.count {
    width: 230px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(245, 107, 154, 1);
    border-radius: 3px;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: column;
}

.count-top {
    width: 100%;
    border-bottom: 2px solid rgba(245, 107, 154, 1);

}

.totalPrice {
    padding: 1rem;
    color: rgba(255, 255, 255, 1);
    font-family: Fira Sans;
    font-size: 32px;
    line-height: 38.4px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(245, 107, 154, 1);
    width: 100%;
    border-bottom: 2px solid rgba(245, 107, 154, 1);

}

.antal-biljetter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100%;


}


.button {
    flex: 1;
    font-size: 18px;
    
    border: none;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    font-family: Fira Sans;
    font-size: 28px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    flex: 1;
    border-left: 2px solid rgba(245, 107, 154, 1);
    border-right: 2px solid rgba(245, 107, 154, 1);
    height: 100%;
    padding: 0 1rem;





}