
.Homepage {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 10rem;
}

.HomepageIMG {
    width: 182px;
    height: 178px;
    background-color: rgba(35, 31, 66, 1);
    margin: 0 auto;
   
}

.Homepage-h1 {
    display: flex;
    font-size: 32px;
    justify-content: center;
    color: rgba(245, 107, 154, 1);
    font-family: sans-serif;
    height: auto;
}

.Homepage-p {
    display: flex;
    font-size: 22px;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    font-family: 'Fira Sans';
    height: auto;
}